---
---

@charset "utf-8";

$max-width: 1440px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.site-title {
  display: none;
}

.pub-entry {
  margin-bottom: 1.5em;

  .pub-title,
  .pub-author,
  .pub-journal {
    display: block;
  }

  summary {
    cursor: pointer;
    color: $link-color;
    list-style: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary::marker {
    content: "";
  }
}
